<div class="mt-4">
    <h1>GET</h1>
    <form method="GET" action="/">
        <div class="mb-3">
            <label for="searchInput" class="form-label">Tìm kiếm</label>
            <input type="text" name="q" class="form-control" id="searchInput">
        </div>
        <button type="submit" class="btn btn-primary">tìm kiếm</button>
    </form>
</div>

<div class="mt-4">
    <h1>POST</h1>
    <form method="POST" action="">
        <div class="mb-3">
            <label for="searchInput" class="form-label">Tìm kiếm</label>
            <input type="text" name="q" class="form-control" id="searchInput">
        </div>

        <div class="mb-3">
            <label for="senderSelect" class="form-label">Gender</label>
            <select name="gender" class="form-control" id="senderSelect">
                <option value="">--Chon--</option>
                <option value="male">Nam</option>
                <option value="female">Nu</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">tìm kiếm</button>
    </form>
</div>